streamlit==1.54.0
pandas==2.3.3
plotly==6.5.2
gspread==6.2.1
google-auth==2.48.0
bcrypt==4.2.0
google-genai==1.64.0
Pillow==12.1.1
python-dateutil==2.9.0.post0
jpholiday==1.0.3
webauthn==2.7.1
cbor2==5.8.0
pyOpenSSL==25.3.0
xlsxwriter==3.2.9
cryptography==46.0.5
